  .navbar-default {
    background-color: #070944;
    border: none;
    border-radius: 0;
  }
  .navbar-default .navbar-brand {
    color: #fff;
  }
  h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      font-weight: 400;
      line-height: 1.1;
      color: #070944;
  }
  .fa.fa-search.search-input-icon{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
  }
  .fa.fa-times.search-input-icon{
    position: absolute;
    right: 21px;
    top: 7px;
    border-radius: 100%;
    background: #c7c3c3;
    padding: 2px 3px 3px 3px;
    color: white;
    font-weight: 100;
  }
  .search-input{
    border-radius: 25px;
    border: 3px solid #c7c3c3;
    padding-left: 24px;
  }
  .search-bar{
    margin-bottom: 0;
  }
  .thead-light{
      background: #e8e7e7;
  }
  th{
    font-weight: 400;
  }
  h3.title{
    margin-bottom: 2em;
  }
  th.centered, td.centered{
    text-align: center;
  }
  img.icon{
    width: 45px;
    margin-top: -5px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .row{
      margin-top: 15px;
  }
  hr{
    border-top: 1px solid #8a8a8a;
    width: 200px;
    margin-left: 8em;
  }
  .subtitle{
    margin-top: 2em;
  }
  .close-detail{
    float: right;
    font-weight: 100;
    font-size: 28px;
  }