<div class="row">
	<div class="col-md-4 col-md-offset-8">		
		<div class="form-group has-search search-bar">
			<span class="fa fa-search form-control-feedback search-input-icon"></span>
			<span class="fa fa-times form-control-feedback search-input-icon"></span>
			<input type="text" class="form-control search-input" ng-model="companyNameFilterInput" placeholder="Buscar empresa">
		</div>
	</div>
</div>	
<h3 class="title">
	Empresas
</h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre de la empresa</th>
      <th scope="col" class="centered">Ubicaci&oacute;n</th>
    </tr>
  </thead>
  <tbody ng-repeat="company in (companies |filter:{name:companyNameFilterInput})">
    <tr>
      <td scope="row" ng-click="getCompanyDetails(company);$parent.toshow=company.id" style="cursor: pointer;">
      	{{company.name}}
      </td>
      <td class="centered">{{company.ubication.province}}</td>
    </tr>
    <tr ng-show="$parent.toshow == company.id">
    	<td colspan="2">
    		<h4 class="subtitle">Datos de la empresa<img class="icon" src="img/ico_company.png">
    			<span class="fa fa-times form-control-feedback close-detail" ng-click="toshow=null"></span>
    		</h4>
    		<div class="row">
	    		<div class="col-md-4">
	    			<strong>Nombre: </strong>
	    			{{company.name}}
	    		</div>
	    		<div class="col-md-4">
	    			<strong>Tel&eacute;fono: </strong>
	    			{{company.phone}}
	    		</div>
	    		<div class="col-md-4">
	    			<strong>Pa&iacute;s: </strong>
	    			{{company.ubication.country}}
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col-md-4">
	    			<strong>Direcci&oacute;n: </strong>
	    			{{company.ubication.address}}
	    		</div>

	    	</div>	
    		<h4 class="subtitle">Productos<img class="icon" src="img/ico_products.png"></h4>
    		<div class="row" ng-repeat="product in company.products">
    			<div class="col-md-12">
    				<strong>Producto {{$index+1}}: </strong>{{product.name}}
    			</div>
    		</div>
    		<h4 class="subtitle">Clientes<img class="icon" src="img/ico_clients.png"></h4>
    		<div ng-repeat="client in company.clients">
    			<div class="row">
		    		<div class="col-md-4">
		    			<strong>Nombre: </strong>
		    			{{client.name}}
		    		</div>
		    		<div class="col-md-4">
		    			<strong>Tel&eacute;fono: </strong>
		    			{{client.phone}}
		    		</div>
		    		<div class="col-md-4">
		    			<strong>Pa&iacute;s: </strong>
		    			{{client.ubication.country}}
		    		</div>
		    	</div>
		    	<div class="row">
		    		<div class="col-md-4">
		    			<strong>Direcci&oacute;n: </strong>
		    			{{client.ubication.address}}
		    		</div>
		    	</div>
		    	<hr align="left">
    		</div>	
    	</td>
    </tr>
  </tbody>
</table>